{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1>Créer un nouveau diy</h1>
        {{ include('admin/diy/_form.html.twig', { button: 'Créer'}) }}
    </div>

{% endblock %}

