<div class="card mb-4">
    {% if diy.picture %}
        <img src="{{ vich_uploader_asset(diy, 'imageFile') | imagine_filter('thumb') }}" alt="card-img-top" style="width: 100%; height: auto">

    {% else %}
        <img src="{{ 'images/diy/empty.jpg' | imagine_filter('thumb') }}" alt="card-img-top" style="width: 100%; height: auto">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ path('diy.show', {slug: diy.slug, id: diy.id}) }}">
                {{ diy.title }}
            </a>
        </h5>
    </div>
</div>

