{% extends 'base.html.twig' %}

{% block title 'Tous nos services' %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            {{ form_start(form) }}
            <div class="form-row align-items-end">
                <div class="col">
                    {{ form_row(form.title) }}
                </div>
                <div class="col">
                    <div class="form-group">
                        <button class="btn btn-success">Rechercher</button>
                    </div>

                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="container mt-4">
        <h1>Nos services</h1>

        <div class="row">

            {% for service in services %}
                <div class="col-md-4">
                    {% include 'service/_service.html.twig' %}
                </div>

            {% endfor %}
        </div>

        <div class="pagination">
            {{ knp_pagination_render(services) }}
        </div>
    </div>
{% endblock %}