{% extends 'base.html.twig' %}

{% block title 'Panier' %}

{% block body %}
    <div class="container mt-4">
        <h1>Panier</h1>
            <p>Votre panier est vide</p>
    </div>
{% endblock %}